services:
  base:
    build:
      context: .
      dockerfile: docker/base_dev.dockerfile
    image: base-image_search:latest
    deploy:
      resources:
        reservations:
          devices:
            - driver: nvidia
              count: all
              capabilities: [ gpu ]
